{% extends 'base.html' %}


{% block content %}
<div class = "addpage">
    <h1 class = "main-page_h1">The Goal Getter</h1>

    {% if object %}
      <h3 class = 'edit'>Edit Profile:</h3>
    {% else %}
      <h3>Make a Profile</h3>
    {% endif %}

    {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
    <form method="post" action=""enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
    <input type="submit" id = 'blue_button' class="btn" value="Submit">
    </form>
    </div>
{% endblock %}


