{% extends 'base.html' %}
{% block content %}
<div class = "index-page">
    <h1>Achievements</h1>
    {% for completed in completed_habits %}
   

    
        <div class = "completed-card">
            <div class = "completed-image"style="background-image: url({{completed.goal_image.url}})"></div>
            <div class = "completed-badge"></div>
            <div class = "completed-text">
                <li>{{ completed.item }}</li>
                <li>${{completed.initial_item_cost}}</li>
                
            </div>

                   
<!--         
                <div class=" index-photo"style="background-image: url({{habit.goal_image.url}})"> </div>
                <div class= "index-text">
                    <li>${{ completed.item_cost }}</li>
                    
                </div>
        
                </a>
        
            </div>     -->
     
        </div>

     

    
    {% endfor %}

</div>







{% endblock %}