{% extends 'base.html' %}
{% block content %}

    <div class = 'detail'>

  
        <h1>{{ habit.item }}</h1>
        <div class = "details-image" style="background-image: url({{habit.goal_image.url}})"></div>
        
        <!-- 100% badge -->
        {% if habit.item_cost <= 0 %}
            <div class = "completebadge">
                <p>100 badge placeholder</p>
            </div>
        {% else %}

        {% endif %}

    

        <table>
            <tr>
                <td>Total amount: </td>
                <td>${{ habit.initial_item_cost}}</td>
            </tr>
            <tr>
                <th>&nbsp </th>
                <th>&nbsp </th>
            </tr>
            <tr>
                <td>Currently Giving Up: </td>
                <td>{{ habit.habit_item }}</td>
            </tr>
            <tr>
                <td>Cost per Saving:</td>
                <td>${{ habit.habit_cost }}</td>
            </tr>
            <tr>
                <th>&nbsp </th>
                <th>&nbsp </th>
            </tr>
            <tr>
                {% if habit.item_cost < 0 %}

                <td>item cost: </td>
                <td>0.0 </td>

            {% else %}
                <td>item cost:</td>
                <td>{{ habit.item_cost }}</td>

            {% endif %}
            </tr>
        </table>
    

        <a href="{% url 'habit_update' habit.id %}"> <button class = "btn btn-warning">I saved for this Today </button></a></br>
        <a href="{% url 'habit_delete' habit.id %}" class="btn btn-danger">Abandon Goal</a>
    </div>

{% endblock %}