
{% extends 'base.html' %}
{% block content %}
{% load mathfilters %}


    <div class = 'detail'>

  <h1>{{habit.random_message}}</h1>
        <h1>{{ habit.item }}</h1>
        <div class = "details-image" style="background-image: url({{habit.goal_image.url}})"></div>
        
        <!-- 100% badge -->
        {% if  habit.completed_goal == True %}
            <div class = "completebadge"></div>
        {% endif %}

    <div id="allsmallbadges">
        <!-- 25% -->
        {% if  habit.quarter_goal == True %}
            <div id="smallbadges"class = "quarter_badge"></div>
        {% endif %}
        
        <!-- 50 -->
        {% if  habit.half_goal == True %}
            <div id="smallbadges"class = "half_badge"></div>
        {% endif %}

        <!-- 75 -->
        {% if  habit.three_quarter_goal == True %}
            <div id="smallbadges"class = "three_quarter_badge"></div>
        {% endif %}
    </div>

   


    

        <table>
            <tr>
                <td>Total amount: </td>
                <td>${{ habit.initial_item_cost}}</td>
            </tr>
            <tr>
                <th>&nbsp </th>
                <th>&nbsp </th>
            </tr>
            <tr>
                <td>Currently Giving Up: </td>
                <td>{{ habit.habit_item }}</td>
            </tr>
            <tr>
                <td>Cost per Saving:</td>
                <td>${{ habit.habit_cost }}</td>
            </tr>
            <tr>
                <th>&nbsp </th>
                <th>&nbsp </th>
            </tr>
            <tr>
                {% if habit.item_cost < 0 %}

                <td>Amount Remaining: </td>
                <td>$0.0 </td>

            {% else %}
                <td>Amount Remaining:</td>
                <td>${{ habit.item_cost }}</td>

            {% endif %}
            </tr>
        </table>
    

        <a href="{% url 'habit_update' habit.id %}"> <button class = "btn btn-warning" data-toggle="modal" data-target="#exampleModal">I saved for this Today </button></a></br>
        <a href="{% url 'habit_delete' habit.id %}" class="btn btn-danger">Abandon Goal</a>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>


{% endblock %}