{% extends 'base.html' %}
{% block content %}

<h1>Detail  Page</h1>
    <div >

  
        <a href="{% url 'habit_update' habit.id %}"> <button>update </button></a>

        <h1>habit you want to change:{{habit.habit_item}}</h1>
        <ul>
            <li>habit cost:{{ habit.habit_cost }}</li>
            <li>purchase you want to get:{{ habit.item }}</li>
            <li>item cost:{{ habit.item_cost }}</li>
            <li><a href="{% url 'habit_delete' habit.id %}" class="waves-effect waves-light btn-small">Delete</a></li>
        <ul>
    </div>

{% endblock %}