{% extends 'base.html' %}
{% block content %}

<h1>Goals</h1>
{% for habit in habits %}
<div class = index-card>
        <a href="{% url 'detail' habit.id %}">

    <div class=" index-photo">

    </div>
    <div>
        <h2>{{ habit.item }}</h2>
        <li>habit $:{{ habit.habit_cost }}</li>
        <li>item cost:{{ habit.item_cost }}</li>
    </div>
    <a href="{% url 'detail' habit.id %}">
        <h2>{{ habit.item }}</h2>
        <li>habit $:{{ habit.habit_cost }}</li>
        <li>item cost:{{ habit.item_cost }}</li>
    </a>

</div>
{% endfor %}



{% endblock %}